/*Eevee Images */
.eeveelutions {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.eeveelutions ul li{
	list-style:none;
	border-bottom:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.eeveelutions li a {	
	margin:5px 5px 0px 5px;
	padding:0px 0px 0px 0px;
	width:110px;
	height:110px;
	float:left;
	text-indent:-99999px;
	border:solid 1px #fff;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-filter: opacity(70%);
	-moz-filter: opacity(70%);
	filter: opacity(70%);
}

.eeveelutions li a.eevee {
	background:url("../img/eevee.jpg") no-repeat 51% 48%;
	background-size: 300%;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;	
	border: dashed thin;	
}

.eeveelutions li a.eevee:hover {
	background:url("../img/eevee.jpg") no-repeat 51% 48%;
	background-size: 300%;
	transition: all 0.4s ease-in;
	-webkit-filter: opacity(100%);
	-moz-filter: opacity(100%);
	filter: opacity(100%);	
}	

.eeveelutions li a.vaporeon {
	background:url("../img/vaporeon.jpg") no-repeat 53% 18%;
	background-size: 300%;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;	
	border: dashed thin;	
}

.eeveelutions li a.vaporeon:hover {
	background:url("../img/vaporeon.jpg") no-repeat 53% 18%;
	background-size: 300%;
	-webkit-filter: opacity(100%);
	-moz-filter: opacity(100%);
	filter: opacity(100%);
}

.eeveelutions li a.jolteon {
	background:url("../img/jolteon.jpg") no-repeat 42% 54%;
	background-size: 300%;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;	
	border: dashed thin;
}

.eeveelutions li a.jolteon:hover {
	background:url("../img/jolteon.jpg") no-repeat 42% 54%;
	background-size: 300%;
	-webkit-filter: opacity(100%);
	-moz-filter: opacity(100%);
	filter: opacity(100%);
}

.eeveelutions li a.flareon {
	background:url("../img/flareon.jpg") no-repeat 45% 53%;
	background-size: 300%;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border: dashed thin;	
}
.eeveelutions li a.flareon:hover {
	background:url("../img/flareon.jpg") no-repeat 45% 53%;
	background-size: 300%;
	-webkit-filter: opacity(100%);
	-moz-filter: opacity(100%);
	filter: opacity(100%);
}

.eeveelutions li a.espeon {
	background:url("../img/espeon.jpg") no-repeat 35% 30%;
	background-size: 300%;	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;	
	border: dashed thin;
}

.eeveelutions li a.espeon:hover {
	background:url("../img/espeon.jpg") no-repeat 35% 30%;
	background-size: 300%;
	-webkit-filter: opacity(100%);
	-moz-filter: opacity(100%);
	filter: opacity(100%);
}

.eeveelutions li a.umbreon {
	background:url("../img/umbreon.jpg") no-repeat 20% 40%;
	background-size: 300%;	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;	
	border: dashed thin;
}

.eeveelutions li a.umbreon:hover {
	background:url("../img/umbreon.jpg") no-repeat 20% 40%;
	background-size: 300%;
	-webkit-filter: opacity(100%);
	-moz-filter: opacity(100%);
	filter: opacity(100%);
}

.eeveelutions li a.leafeon {
	background:url("../img/leafeon.jpg") no-repeat 73% 48%;
	background-size: 300%;	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;	
	border: dashed thin;
}

.eeveelutions li a.leafeon:hover {
	background:url("../img/leafeon.jpg") no-repeat 73% 48%;
	background-size: 300%;
	-webkit-filter: opacity(100%);
	-moz-filter: opacity(100%);
	filter: opacity(100%);
}

.eeveelutions li a.glaceon {
	background:url("../img/glaceon.jpg") no-repeat 27% 40%;
	background-size: 300%;	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;	
	border: dashed thin;
}

.eeveelutions li a.glaceon:hover {
	background:url("../img/glaceon.jpg") no-repeat 27% 40%;
	background-size: 300%;
	-webkit-filter: opacity(100%);
	-moz-filter: opacity(100%);
	filter: opacity(100%);
}

.eeveelutions li a.sylveon {
	background:url("../img/sylveon.jpg") no-repeat 30% 30%;
	background-size: 300%;	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;	
	border: dashed thin;
}

.eeveelutions li a.sylveon:hover {
	background:url("../img/sylveon.jpg") no-repeat 30% 30%;
	background-size: 300%;
	-webkit-filter: opacity(100%);
	-moz-filter: opacity(100%);
	filter: opacity(100%);
}

/* PAGE CONTENT */
body {
	background: url("../img/pw_pattern.png") repeat; 		
}


#wrapper {
	margin: 5px;
	padding: 10px;
}

#wrap1 {
width: 1100px;
height: 600px;
margin: auto;
background-color:rgba(255,255,255,0.0);
}

#wrap2 {
width:750px;
margin: auto;
background-color:rgba(255,255,255,0.0);
float: right;

}


/* EEVEE IMAGES */
.section {
	width: 400px;
	height: 600px;
	float: left;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	border: 0px solid #000000;	
	background: #fff;	
	overflow:hidden;
	}







/* CONTENT */
.aside {
	width: 700px;
	height: 600px;
	
	float: right;
	
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
	border: 0px solid #000000;
	background: #fff;
}

h1 {
	font-family: 'Overlock', cursive;
	font-size: 45px;
	text-align: center;	
}

p {
	text-align: center;	
}



/* NAVIGATION */
header {
	
	margin: 0 15px 5px 0;
	text-align: left;
}

footer {
	clear: both;
	margin: 0 15px 5px 0;
	text-align: right;
	
	
	background: #0C0;	
}







/* POKEBALL */
#pokeball {
	float: relative;
}
 
#pokered {
	position: absolute; height:150px; width:300px; background-color: #FF0000; top: 120px; margin-left:100px; border-radius: 400px 400px 0px 0px; -moz-transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out;
}
#pokeball:hover #pokered {
	top:20px; -moz-transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out;
}
#pokered img 
{border-radius: 400px 400px 0px 0px;
}
 
#pokewhite {
	position:relative; height:150px; width:300px; background-color: #fff; margin-top: -4px; margin-left:100px; border-radius: 0px 0px 400px 400px; -moz-transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out;
}
#pokeball:hover #pokewhite {
	top:-10px; -moz-transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out;
}
#pokewhite img {
	border-radius: 0px 0px 500px 500px;
}
 
#pokeblack {
	position:relative; height:14px; width:300px; background-color: #000; top:270px; margin-left:100px;
	}
 
#pokecircle {
	position:fixed; height:45px; width:45px; background-color: #fff; top:247px; margin-left: 217px; border: #000 solid 10px; z-index:9999; border-radius: 400px 400px 400px 400px;
}
 
#pokehover {
	font-family: 'Overlock', cursive; top:230px; margin-left:500px; position:fixed; z-index:99999; -moz-transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out; font-size:55px; letter-spacing:2px; color: #000;
}
#pokeball:hover #pokehover {
	opacity:0; -moz-transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out;
}


 
/* */

 
 
 
#pokedesc {width:290px; padding:5px; padding-top:0px; height:0px; background-color: #fff; color: #444444; position:relative; margin-left:100px; margin-top:264px; line-height:16px; font-size:11px; opacity:0; -moz-transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out; text-align:justify; overflow: hidden; text-align: center; font-family: 'Overlock', cursive;
}
 
#pokeball:hover #pokedesc {position: relative; margin-left: 500px; height: 74px; padding-top:35px; opacity:1; transition: all .5s ease-in-out; font-size: 30px; border-radius: 20px; text-align: center;
}

a:link, a:visited { color: #000; text-decoration: none;
}

a:active, a:hover { color: teal; font-size: 32px;
}

